.one h2{
  font-size: 20px;
}

#intro{
  font-family: 'Blippo', fantasy;
  margin: 0 auto;
  font-size: 20px;
  padding: 25px 0 25px 10px;
  text-align: center;
  color: white;
  background: rgba(254, 178, 112, 0.7);
  border-radius: 50px;
  width: 500px;
  height: 80px;
}

article img {
  max-width: 500px;
  max-height: 300px
  padding-bottom: 40px;
}

.image img:hover {
    opacity: 0.5;
    transition: all ease-in-out 550ms;
  }

#sub-heading{
  font-family: 'Blippo', fantasy;
  font-size: 30px;
}

article p{
  font-family: 'Blippo', fantasy;
  font-size: 15px;
  font: em;
}
