
li{
  display: inline;
  padding: 0px 100px 0px 100px;
}

.header {
  padding: 0.5rem 0.5rem;
  margin: 0 10vw 10vh 10vw;
  text-align: center;
  background-color: pink;
}

  .top{
      padding: 30px;
      display: block;
  }
