
.topnav-bar {
  overflow: hidden;
  background-color: blue;
}
.topnav-bar h1 {
  float: left;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  letter-spacing: -0.5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  padding: 25px 0 5px 10px;
}
.topnav-bar h1 span {
  color: white;
}
.topnav-bar ul {
  float: right;
  list-style:none;
  padding: 0 20px 0 0;
}
.topnav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px 0px 15px;
}
.topnav-bar a{
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 20px;
}
.topnav-bar a:hover {
  color: white;
  font-size: 23px;
