
.topnav-bar {
  overflow: hidden;
  background-color: #5426b800;
  padding: 25px
}
.topnav-bar h1 {
  float: left;
  font-family: 'Blippo', fantasy;
  margin: 0 auto;
  letter-spacing: -0.5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  padding: 25px 0 20px 10px;
}
.topnav-bar h1 span {
  color: #d64259;
}
.topnav-bar ul {
  float: right;
  list-style:none;
  padding: 0 20px 0 0;
}
.topnav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px 0px 15px;
}
.topnav-bar a{
  color: black;
  font-family: 'Blippo', fantasy;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 20px;
}
.topnav-bar a:hover {
  color: #d64259;
  font-size: 23px;
}

.carousel-inner{
  height: 700px;
  margin: 0 auto;
  width: 100%;
}

#intro{
  font-family: 'Blippo', fantasy;
  margin: 0 auto;
  font-size: 20px;
  padding: 25px 0 25px 10px;
  text-align: center;
  color: white;
  background: #d64259;
  border-radius: 50px;
  width: 500px;
  height: 80px;
}

#about{
  font-family: 'Blippo', fantasy;
  margin: 0 auto;
  font-size: 20px;
  padding: 25px 0 25px 10px;
  text-align: center;
  color: white;
  background: #d64259;
  border-radius: 50px;
  width: 500px;
}

#about a{
  color: black;
  text-decoration: underline;
}


.contact{
    margin:auto;
    border-radius: 200px;
    background-color:#d64259;
    padding: 20px;
    font-family:'Blippo', fantasy;
    color: white;
    text-align: center;

}

input[type=text], name {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Blippo', fantasy;
    font-size: 28px;
    color: #69ACCC;
  }
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .contact p{
    font-size: 40px;
    font-family: 'Blippo', fantasy;
  }

#copyright{
  font-size: 10px;
  font-family: 'Blippo', fantasy;
  text-align: center;
  color: #d64259;
}
